body {
    padding-bottom: 20px;
}

header{

}

nav {
    float: left;
    margin-right: 30px;
    margin-bottom: 20px;
}

main {
    width: 80%;
    float: left;
    margin-bottom: 30px;
}
#noFloat {
    clear: both;
}

a.currency {
    text-decoration: none;
}

.currency.selected {
    font-weight: bold;
    font-size: 150%;
}
footer{
    padding-right: 80px;
    text-align: right;
}
