body {
    background-color: black;
    color: white;
}

header {
/*
    position: fixed;
    top: 8px;
*/
}

#center {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 5% auto;
}




